<div id="<%= dom_id pet_friendship %>">
  <p>
    <strong>Requester pet:</strong>
    <%= pet_friendship.requester_pet_id %>
  </p>

  <p>
    <strong>Receiver pet:</strong>
    <%= pet_friendship.receiver_pet_id %>
  </p>

  <p>
    <strong>Requested by user:</strong>
    <%= pet_friendship.requested_by_user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= pet_friendship.status %>
  </p>

  <p>
    <strong>Accepted at:</strong>
    <%= pet_friendship.accepted_at %>
  </p>

</div>
