<p style="color: green"><%= notice %></p>

<%= render @pet_friendship %>

<div>
  <%= link_to "Edit this pet friendship", edit_pet_friendship_path(@pet_friendship) %> |
  <%= link_to "Back to pet friendships", pet_friendships_path %>

  <%= button_to "Destroy this pet friendship", @pet_friendship, method: :delete %>
</div>
