<div id="<%= dom_id walk_participant %>">
  <p>
    <strong>Walk event:</strong>
    <%= walk_participant.walk_event_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= walk_participant.user_id %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= walk_participant.pet_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= walk_participant.status %>
  </p>

  <p>
    <strong>Joined at:</strong>
    <%= walk_participant.joined_at %>
  </p>

</div>
