<p style="color: green"><%= notice %></p>

<%= render @walk_participant %>

<div>
  <%= link_to "Edit this walk participant", edit_walk_participant_path(@walk_participant) %> |
  <%= link_to "Back to walk participants", walk_participants_path %>

  <%= button_to "Destroy this walk participant", @walk_participant, method: :delete %>
</div>
