<%= form_with(model: user_friendship) do |form| %>
  <% if user_friendship.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_friendship.errors.count, "error") %> prohibited this user_friendship from being saved:</h2>

      <ul>
        <% user_friendship.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :requester_id, style: "display: block" %>
    <%= form.number_field :requester_id %>
  </div>

  <div>
    <%= form.label :receiver_id, style: "display: block" %>
    <%= form.number_field :receiver_id %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.label :accepted_at, style: "display: block" %>
    <%= form.datetime_field :accepted_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
