<div id="<%= dom_id user_friendship %>">
  <p>
    <strong>Requester:</strong>
    <%= user_friendship.requester_id %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%= user_friendship.receiver_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user_friendship.status %>
  </p>

  <p>
    <strong>Accepted at:</strong>
    <%= user_friendship.accepted_at %>
  </p>

</div>
