<%= form_with(model: comment) do |form| %>
  <%= form.hidden_field :post_id %>

  <div class="form-group mb-2">
    <%= form.label :body, class: "visually-hidden" %>
    <%= form.text_area :body,
          class: "form-control",
          placeholder: "Write a comment..." %>
  </div>

  <%= form.submit "Comment", class: "btn btn-primary" %>
<% end %>
