<div id="<%= dom_id pet %>">
  <p>
    <strong>User:</strong>
    <%= pet.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= pet.species %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= pet.gender %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= pet.birthday %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= pet.size %>
  </p>

  <p>
    <strong>Energy level:</strong>
    <%= pet.energy_level %>
  </p>

  <p>
    <strong>Temperament:</strong>
    <%= pet.temperament %>
  </p>

  <p>
    <strong>Vaccinated:</strong>
    <%= pet.vaccinated %>
  </p>

  <p>
    <strong>Neutered:</strong>
    <%= pet.neutered %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= pet.bio %>
  </p>

</div>
