<div id="<%= dom_id post %>">
  <article class="card mb-3">
    <% if post.image_url.present? %>
      <%= image_tag post.image_url, class: "card-img-top", style: "max-height: 400px; object-fit: cover;" %>
    <% end %>

    <div class="card-body">
      <p>
        <strong><%= link_to post.user.name, user_path(post.user) %></strong>

        <% if post.pet.present? %>
          with <%= link_to post.pet.name, pet_path(post.pet) %>
        <% end %>
      </p>

      <p><%= post.body %></p>

      <small><%= time_ago_in_words(post.created_at) %> ago</small>
    </div>
  </article>
</div>
