<div id="<%= dom_id walk_event %>">
  <p>
    <strong>Host user:</strong>
    <%= walk_event.host_user_id %>
  </p>

  <p>
    <strong>Host pet:</strong>
    <%= walk_event.host_pet_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= walk_event.title %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= walk_event.note %>
  </p>

  <p>
    <strong>Location name:</strong>
    <%= walk_event.location_name %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= walk_event.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= walk_event.longitude %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= walk_event.start_time %>
  </p>

  <p>
    <strong>Duration minutes:</strong>
    <%= walk_event.duration_minutes %>
  </p>

  <p>
    <strong>Visibility:</strong>
    <%= walk_event.visibility %>
  </p>

  <p>
    <strong>Max participants:</strong>
    <%= walk_event.max_participants %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= walk_event.status %>
  </p>

</div>
